[Unit]
Description={% if enterprise %} Grafana Metrics Enterprise {% else %} Cortex {% endif %}
After=network.target

[Service]
User={{ user }}
Group={{ group }}
WorkingDirectory={{ data_dir }}
ExecStart={{ bin_dir }}/{{ bin_name }} {{ bin_arguments | join(' ') }}
Restart=always
RestartSec=10s

# Allow the server to listen on privileged ports.
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
